<% provide(:title, 'About. Get to know us.') %>
<div class = "row", id="contacts">
	<div class="col-md-4">

   		<%= image_tag "cp/a1.jpg", id: "a1" %>
	</div>

	<div class="col-md-8">
		Some stuff about us.
		
	</div>
</div>

	
