<% provide(:title, "Contacts. You are always welcome.") %>
<div class = "row", id="contacts">
	<div class="col-md-6">

   		<div class="google-map-canvas" id="map-canvas"></div>
	</div>

	<div class="col-md-6">
		<address>
			<strong>IBABAI, INC.</strong><br>
			795 Folsom Ave, Suite 600<br>
			San Francisco, CA 94107<br>
			<abbr title="Phone">P:</abbr> (123) 456-7890<br>
			<a href="mailto:#">first.last@ibabai.com</a>
		</address>
		
	</div>
</div>


		

	
