
<li>
	<sppan><strong>Q:</strong></span>
	<span class="quest"><%= qa.question %></span><br>
	<span><strong>A:</strong></span>
	<span class="ans"><%= qa.answer %></span><br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(qa.created_at) %> ago.
	</span>
</li>

			
		
	
	

