<footer class="footer">
		<div class="row" id="footer-bar">
			<button type="button" class= "btn btn-primary btn-lg" data-toggle="modal" data-target="#downModal" id="download">Dowhload App Now</button>
					<div class="modal fade" id="downModal" tabindex="-1" role="dialog" aria-labelledby="downModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
    						<div class="modal-content">
      							<div class="modal-header">
        							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        							<h4 class="modal-title" id="downModalLabel">Download in two easy steps</h4>
      							</div>
      							<div class="modal-body">
        							The instructions to be plased here
      							</div>
      							<div class="modal-footer">
        							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        							<button type="button" class="btn btn-primary">Start Download</button>
      							</div>
    						</div><!-- /.modal-content -->
  						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					
			     <%= render "leads/mform" %>

	</div>
</footer>