<button type= "button" class= "btn btn-primary btn-lg"     data-toggle= "modal" data-target= "#clientModal" id= "lead">Become Partner</button>
      	
          <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="clientModalLabel">Fill in the form and we'll call you back shortly...</h4>
                    </div>
                        <%= render "layouts/mform" %>
                    
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->